.infoCard {
  &--container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &--flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.title-span {
  font-weight: 500;
}

.monthlyPayment--value {
  color: rgb(104, 73, 73);
  font-weight: 500;
}

.taxes {
  align-self: center;
  margin-top: 0;

  text-align: center;
}
